$blue: #33ccff;
$white: #fff;
$black: #000000;

body{
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

// LOGIN VIEW
.login-container{
  width: 380px;
  height: 370px;
  margin-top: 20px;
  background-color: $blue;
  position: absolute;
  left: 50%;
  margin-left: -190px;
  padding: 20px 15px;

  h5{
    color: $white;
  }

  label{
    color: $white !important;
  }
  input{
    color: $white;
  }
  input {
    border-bottom: 1px solid $white !important;
    -webkit-box-shadow: 0 1px 0 0 $white !important;
    -moz-box-shadow: 0 1px 0 0 $white !important;
    box-shadow: 0 1px 0 0 $white !important;
  }

  button{
    margin-top: 20px;
    background-color: $white;
    color: $black;

    &:hover, &:focus{
      background-color: lighten($black, 80%);
    }
  }
}

nav{
  height: 40px;
  line-height: 40px;
  background-color: lighten($black, 30%);
}

// STATS VIEW
.main-container{
  width: 1180px;
  margin: 30px auto;
  background-color: lighten($blue, 30%);
  color: $white;
  height:calc(100% - 60px);

  .left-container{
    background-color: lighten($black, 20%);
    padding: 15px 25px;
    height: 100%;
    position: relative;

    .config{
      margin-top: 30px;
      height: calc(100% - 200px);
      //position: relative;
      overflow: visible;

      button{
        background-color: darken($blue, 10%);
        color: $white;

        &:hover, &:focus{
          background-color: darken($blue, 30%);
        }
      }
    }

  }

  .session{
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: calc(100% - 30px);

    .logout-btn{
      width: 100%;
      background-color: lighten($black, 30%);
      color: darken($white, 20%);

      &:hover, &:focus{
        background-color: lighten($black, 40%);
      }
    }
  }

  .content{
    height: 100%;
    padding: 0;
    position: relative;

    .map, .chart{
      width: 100%;
      height: 100%;
    }

    .chart{
      margin-top: 8%;
    }

    .chart-info{position: absolute;
      color: $black;
      top: 40%;
      width: 100%;
    }

    .btn{
      background-color: darken($blue, 10%);
      color: $white;

      &:focus{
        background-color: darken($blue, 10%);
      }

      &:hover{
        background-color: darken($blue, 30%);
      }
    }

    #prev-btn{
      margin: 40px 0 0 30px;
      float: left;
    }

    #next-btn{
      margin: 40px 30px 0 0;
      float: right;
    }
  }
}

.info-text{
  color: lighten($black, 20%)
}
