body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute; }

.login-container {
  width: 380px;
  height: 370px;
  margin-top: 20px;
  background-color: #33ccff;
  position: absolute;
  left: 50%;
  margin-left: -190px;
  padding: 20px 15px; }
  .login-container h5 {
    color: #fff; }
  .login-container label {
    color: #fff !important; }
  .login-container input {
    color: #fff; }
  .login-container input {
    border-bottom: 1px solid #fff !important;
    -webkit-box-shadow: 0 1px 0 0 #fff !important;
    -moz-box-shadow: 0 1px 0 0 #fff !important;
    box-shadow: 0 1px 0 0 #fff !important; }
  .login-container button {
    margin-top: 20px;
    background-color: #fff;
    color: #000000; }
    .login-container button:hover, .login-container button:focus {
      background-color: #cccccc; }

nav {
  height: 40px;
  line-height: 40px;
  background-color: #4d4d4d; }

.main-container {
  width: 1180px;
  margin: 30px auto;
  background-color: #ccf2ff;
  color: #fff;
  height: calc(100% - 60px); }
  .main-container .left-container {
    background-color: #333333;
    padding: 15px 25px;
    height: 100%;
    position: relative; }
    .main-container .left-container .config {
      margin-top: 30px;
      height: calc(100% - 200px);
      overflow: visible; }
      .main-container .left-container .config button {
        background-color: deepskyblue;
        color: #fff; }
        .main-container .left-container .config button:hover, .main-container .left-container .config button:focus {
          background-color: #007399; }
  .main-container .session {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: calc(100% - 30px); }
    .main-container .session .logout-btn {
      width: 100%;
      background-color: #4d4d4d;
      color: #cccccc; }
      .main-container .session .logout-btn:hover, .main-container .session .logout-btn:focus {
        background-color: #666666; }
  .main-container .content {
    height: 100%;
    padding: 0;
    position: relative; }
    .main-container .content .map, .main-container .content .chart {
      width: 100%;
      height: 100%; }
    .main-container .content .chart {
      margin-top: 8%; }
    .main-container .content .chart-info {
      position: absolute;
      color: #000000;
      top: 40%;
      width: 100%; }
    .main-container .content .btn {
      background-color: deepskyblue;
      color: #fff; }
      .main-container .content .btn:focus {
        background-color: deepskyblue; }
      .main-container .content .btn:hover {
        background-color: #007399; }
    .main-container .content #prev-btn {
      margin: 30px 0 0 30px;
      float: left; }
    .main-container .content #next-btn {
      margin: 40px 30px 0 0;
      float: right; }

.info-text {
  color: #333333; }

/*# sourceMappingURL=index.css.map */
